nav.navbar {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        padding: 0 30px;
        font-size: 20px;
    }

    .hamburger {
        width: 150px;
        margin-right: auto;

        label {
            width: 100%;
        }
    }
    &__lang {
        text-transform: uppercase;
        font: {
            size: 10px;
            weight: 700;
        }
    }
    &__search img {
        width: 32px;
    }
}
